<p>consumehttp works!</p>

Users:

<button (click)="displayAddNewFriend()" [disabled]="editFriendFormStatus">Add New Friend</button>
&nbsp;

<button [disabled]="editFriendFormStatus" (click)="openAddNewFriendComponentView()">Add New Friend In New Page</button>
<br><br>
<div *ngIf="newFriendFormStatus">
    <form #addFriendForm="ngForm" (ngSubmit)="setNewFriend(addFriendForm)" >
        Name: <input type="text" name="name" [(ngModel)]="name" required> <br>
        Location: <input type="text" name="location" [(ngModel)]="location" required> <br>
        Score: <input type="number" name="score" [(ngModel)]="score" required> <br>
        <button type="submit" [disabled]="addFriendForm.invalid">Add</button>
    </form>
</div>

<div *ngIf="editFriendFormStatus">
    <form #editFriendForm="ngForm" (ngSubmit)="editFriend(editFriendForm)" >
        Id: <input type="number" name="id" [(ngModel)]="id" readonly> <br>
        Name: <input type="text" name="name" [(ngModel)]="name" required> <br>
        Location: <input type="text" name="location" [(ngModel)]="location" required> <br>
        Score: <input type="number" name="score" [(ngModel)]="score" required> <br>
        <button type="submit" [disabled]="editFriendForm.invalid">Edit</button>
    </form>
</div>
<br>
<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Score</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let friend of friends">
            <td>{{friend.id}}</td>
            <td>{{friend.name}} </td>
            <td>{{friend.location}} </td>
            <td>{{friend.score}}  </td>
            <td>
                <button (click)="displayEditFriend(friend)" [disabled]="newFriendFormStatus">Edit In Same Page</button>
            </td>
            <td>
                <button (click)="openEditFriendComponentView(friend)"  [disabled]="newFriendFormStatus" >Edit In New Page</button>
            </td>
            
            <td>
                <button (click)="deleteFriend(friend)">Delete</button>
            </td>


        </tr>

    </tbody>


  
</table>


