<p>fordirective works!</p>

Starts Ups: {{startups}}

<ol>
    <li>{{startups[0]}}</li>
    <li>{{startups[1]}}</li>
</ol>

ngFor directive example:

<ol>
    <li *ngFor="let st of startups">{{st}}</li>
</ol>

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Start Up</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let st of startups; let counter = index">
            <td>{{counter+1}}</td>
            <td>{{st}}</td>
        </tr>
    </tbody>
</table>

Users:

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Company Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.address.city}}</td>
            <td>{{u.address.geo.lat}}</td>
            <td>{{u.address.geo.lng}}</td>
            <td>{{u.company.name}}</td>
        </tr>
    </tbody>
</table>
