<p>This is app component! </p>
<p>This root component!</p>
Title: {{ title }}
<br>
Score: {{ score }}


<hr>


<a routerLink="/first">First</a>&nbsp;

<a routerLink="/family">Family</a>&nbsp;

<a routerLink="/databinding">Data Binding</a>&nbsp;

<a routerLink="/directive">Directive</a>&nbsp;

<a routerLink="/pipe">All Pipes</a>&nbsp;


<a routerLink="/service">Service</a>&nbsp;

<a routerLink="/all">All Inbuilt Service</a>&nbsp;


<a routerLink="/animate">Animate</a>&nbsp;



<router-outlet></router-outlet>